<!doctype html>

<html lang="en">
  <head>
    <title>Rozhlas Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- custom css -->
    <style>
    div.columns {
      margin-top: 50px;
    }

    h1 {
      color: green !important;
      margin-bottom: 20px;

    }

    .table td {
      font-size: 17px
    }

    .table th {
      font-size: 17px
    }
  </style>
  </head>

  <body>

    <div class="container is-fluid">

      <h1 class="title">Schedules</h1>

      Current date: {{date.date()}}

      <div class="columns">

        <div class="column is-2">
          <form>

            <div class="field">
              <label class="label">Date</label>
              <div class="control">
                <input class="input" type="date" placeholder="">
              </div>
              <div class="field">
                <label class="label">Station</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Plus">
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="column is-10">

          <div class="table-container">
            <table class="table is-striped is-narrow is-hoverable">

              <thead>
                <tr>
                  <th><abbr title="Station">Station</abbr></th>
                  <th><abbr title="Date">Date</abbr></th>
                  <th><abbr title="Title">Title</abbr></th>
                  <th><abbr title="Since">Since</abbr></th>
                  <th><abbr title="Till">Till</abbr></th>
                  <th><abbr title="Duration">Duration</abbr></th>
                  <th><abbr title="Moderators">Moderators</abbr></th>
                  <th><abbr title="Repetition">Repetition</abbr></th>
                </tr>
              </thead>
              <tbody>
                {% for show in shows %}
                <tr>
                  <td>{{ show.station.name }}</td>
                  <td>{{ show.since.date() }}</td>
                  <td>{{ show.title }}</td>
                  <td>{{ show.since.time() }}</td>
                  <td>{{ show.till.time() }}</td>
                  <td>{{ show.duration }}</td>
                  <td>{{ show.persons }}</td>
                  <td>{{ show.repetition }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </body>

</html>
